<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="static/css/demo.css"> <!-- Demo style -->

	<title>Pi Alt Printer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
	<script src="static/js/printerstatus.js"></script>
</head>

<body onload="updatepage()">
	<header>
		<div class="cd-nugget-info">
				<span id="printerstatus"></span>
		</div> 
	</header>
	<div class="cd-tabs js-cd-tabs">
		<nav>
			<ul class="cd-tabs__navigation js-cd-navigation">
				<li><a data-content="time" class="cd-selected" href="#0">Time</a></li>
				<li><a data-content="uv" href="#0">UV</a></li>
				<li><a data-content="presets" href="#0">Presets</a></li>
				<li><a data-content="control" href="#0">Control</a></li>
			</ul> <!-- cd-tabs__navigation -->
		</nav>

		<ul class="cd-tabs__content js-cd-content">
			<li data-content="time" class="cd-selected">
				<form class="cd-form floating-labels">
						<fieldset>
							<div class="icon">
								<label class="cd-label" for="cd-time">Time HH:MM:SS</label>
								<input class="time" type="text" name="time" id="cd-time" required>
								<input type="submit" value="Go">
							</div>
						</fieldset>
				</form>
			</li>

			<li data-content="uv">
				<form class="cd-form floating-labels">
					<fieldset>
						<div class="icon">
							<label class="cd-label" for="uv">UV Units</label>
							<input class="uv" type="text" name="uv" id="uv" required>
							<input type="submit" value="Go">
						</div>
					</fieldset>
				</form>
			</li>

			<li data-content="presets">
				<div>
					<h4>Presets</h4>

					<form class="cd-form floating-labels">
						<fieldset>
							<div class="icon">
								<select class="budget">
									<option value="uv:1337">Classic Cyanotype</option>
									<option value="uv:13371">New Cyanotype</option>
									<option value="uv:13372">Kallitype</option>
									<option value="uv:13373">Argyrotype</option>
								</select>
								<input type="submit" value="Go">
							</div>
						</fieldset>
				</div>
			</li>

			<li data-content="control">

				<p>Temperature: <span id="spantemperature"></span> (target: <span id="spantargettemperature"></span>)</p>
				<p>Humidity: <span id="spanhumidity"></span></p>
				<p><a href="/stop">Stop Printing</a></p>

			</li>

		</ul> <!-- cd-tabs__content -->
	</div> <!-- cd-tabs -->

	<footer>
		<span id="error"></span>
	</footer>
<script src="static/js/main.js"></script> <!-- Resource JavaScript -->
</body>
</html>
